<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <script src="" async defer></script>
    <h1 class="title"><%= message %></h1>
  </body>
</html>
